# Node.js dependencies
node_modules/

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Environment variables
.env

# Logs
*.log


# Debug files
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# IDE specific
.idea/

# Other
coverage/

# Ignore Prisma migration files
prisma/migrations/
